@import '../../shared/colors.scss';
/* Mat tab group */
.base{
  font-size: 16px;
  font-family: arial;
  opacity: 1 !important;
}

.mat-tab-label {
  @extend .base;
  color: white;
}

.mat-tab-label.mat-tab-label-active {
  @extend .base;
  color: $active;
}

.mat-ink-bar {
  background-color: $active;
}

/* Mat tab body */
.mat-tab-body{
  margin: 1%;
}
.mat-expansion-panel{
  margin-bottom: 1% !important;
}
.mat-expansion-panel-header{
  background-color: $navbar;
}
.mat-expansion-panel-header-title,
.mat-expansion-indicator::after{
  color:white;
}

.mat-expansion-panel-body{
  padding: 24px 16px !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
  background-color: $navbar;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover{
  background-color: $active !important;
}
