@import '../../app.component.scss';
.select{
  margin-left: 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.25rem;
}

.span-text{
  font-size: 0.95rem;
}

@media screen and (max-width: $mediaTabletBreakPoint){
  #pageSizeComponent{
    width: 100%;
    display: flex;
  }
}

