$navbar: #3A5199;
$title: #FAAE3D;
$body: #756867;
$text: white;
$edit: #5CC5EF;
$delete: #E4535E;
$new: #0fc136;
$active: $title;
$disabled: #b7b8b6;
$snackInfo: #45aaf2;
$snackSuccess: #26de81;
$snackError: #fc5c65;
