@mixin button-format{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: transparent;
  color: white;
}

@mixin title-format{
  background-color: $navbar;
  line-height: 60px;
  padding-left: 5%;
}

@mixin footer-format{
  background-color: $navbar;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 1rem;
  padding-right: 10px;
}

@mixin panel-title{
  font-size: 20px;
}

@mixin panel-content{
  font-weight: bold;
  font-size: 1rem;
}
