<div class="d-flex align-items-center my-2" style="column-gap:1rem;">
  <fa-icon role="button" [icon]="faChevronLeft" (click)="previousPage()"></fa-icon>
  <button (click)="createPagesArray(1)" [ngClass]="{'currentPage' : 1 === currentPage}">{{ 1 }}</button>
  <div *ngIf="displayDotsBefore">...</div>
  <div *ngFor="let i of pagesArray">
    <button (click)="createPagesArray(i)" [ngClass]="{'currentPage' : i === currentPage}">{{ i }}</button>
  </div>
  <div *ngIf="displayDotsAfter">...</div>
  <button (click)="createPagesArray(totalPages)" [ngClass]="{'currentPage' : totalPages === currentPage}">{{ totalPages }}</button>
  <fa-icon role="button" [icon]="faChevronRight" (click)="nextPage()"></fa-icon>
</div>
