@import '../colors.scss';

.table-header{
  background-color: #8BA6AD;
  border-bottom: black solid 2px;
  line-height: 3rem;
    th, td {
      padding-left: 10px;
    }
}

.row-odd{
  @extend .table-header;
  background-color: #575F61;
}

.row-even{
  @extend .table-header;
  background-color: #5D6E68;
}

@media screen and (max-width: 576px){
  #actions {
    display: flex;
    flex-direction: column;
  }
}


