<table [style.width.%]="width">
  <thead class="table-header">
    <th *ngFor="let headData of headerData; let i = index">
      <div class="d-flex">
        <app-sort-column [columnName]="headData" [data]="tableData"></app-sort-column>
        <span class="ms-2">{{ headData }}</span>
      </div>
    </th>
    <th *ngIf="displayActionColumn">
      Actions
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let rowData of tableData; let i = index" [ngClass]="i % 2 === 0 ? 'row-odd' : 'row-even'">
      <td *ngFor="let header of headerData">
        {{ rowData[header] }}
      </td>
      <td *ngIf="displayActionColumn">
        <div id="actions" class="d-flex gap-4">
          <app-custom-button [icon]="faEdit" [class]="'edit'" [title]="'edit'" (click)="edit(rowData)"></app-custom-button>
          <app-custom-button [icon]="faTrash" [class]="'delete'" [title]="'delete'" (click)="delete(rowData)"></app-custom-button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
