<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div id="toggle-button" class="toggle-format" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon>menu</mat-icon>
      <span>My read books</span>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link link-content-format" aria-current="page" href="#">
              <mat-icon>home</mat-icon>
              <span>Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle link-content-format" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon>settings</mat-icon>
            <span>Manage</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="color:black">
            <li>
              <a class="dropdown-item link-content-format" href="#">
                <mat-icon>book</mat-icon>
                <span>Books</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item link-content-format" href="#">
                <mat-icon>people</mat-icon>
                <span>Authors</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item link-content-format" href="#">
                <mat-icon>flag</mat-icon>
                <span>Nationalities</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link link-content-format" href="#">
            <mat-icon>bar_chart</mat-icon>
            <span>statistics</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-content-format" href="#">
            <mat-icon>person</mat-icon>
            <span>Author</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


