@import '../colors.scss';
$font-size: 1.25rem;

nav{
  background-color: $navbar;
  :is(a, p) {
    color: $text;
    text-decoration: none;
    font-size: $font-size;
  }

  .title{
    color: $title !important;
  }

  ul{
    background-color: $navbar;
  }

  li{
    margin-right: 2rem;
  }
}

span{
  margin-left: 5px;
}

.link-content-format{
  display: flex;
  align-items: center;
}

.toggle-format{
  background-color: transparent;
  border-color: white;
  color: $title;
  display: flex;
  align-items:center;
  font-size: 1.25rem;
}

@media screen and (min-width: 990px){
  #toggle-button {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  #title {
    display: none;
  }
}
