<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <div id="toggle-button" class="toggle-format" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="faBars"></fa-icon>
        <a class="nav-link link-content-format justify-content-end title">
          <span>My read Books</span>
        </a>
      </div>
      <div class="collapse navbar-collapse col-9" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link-content-format" aria-current="page" [routerLink]="['home']" routerLinkActive="active">
                <fa-icon [icon]="faHome"></fa-icon>
                <span>Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-content-format" [routerLink]="['books']" routerLinkActive="active">
              <fa-icon [icon]="faBook"></fa-icon>
              <span>Books</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-content-format" [routerLink]="['authors']" routerLinkActive="active">
              <fa-icon [icon]="faUsers"></fa-icon>
              <span>Authors</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-content-format" [routerLink]="['statistics']" routerLinkActive="active">
              <fa-icon [icon]="faChartLine"></fa-icon>
              <span>statistics</span>
            </a>
          </li>
        </ul>
      </div>
      <div id="title" class="col-3">
        <a class="nav-link link-content-format justify-content-end title" [routerLink]="['home']">
          <span class="me-2">My read Books</span>
          <fa-icon [icon]="faBookReader"></fa-icon>
        </a>
      </div>
  </div>
</nav>


