
@import '../../shared/colors.scss';

.button-format{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: transparent;
  color: white;
  background-color: $delete;
}

.title-format{
  background-color: $navbar;
  line-height: 80px;
  text-align: center;
  color: $title;
}

form{
  margin: 2% 5%;
}

.footer-format{
  background-color: $navbar;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 1rem;
  padding-right: 10px;
}

@media screen and (min-width: 550px){
  #dialog-container{
    width: 350px;
  }
}


