/*MARGINS*/
$marginLeft: 5%;
$marginTop: 0;
$marginRight: 5%;
$marginBottom: 0;
$marginLeftMobile: 1%;
$marginTopMobile: 0;
$marginRightMobile: 1%;
$marginBottomMobile: 0;

.margin-format{
  margin-left: $marginLeft;
  margin-top: $marginTop;
  margin-right: $marginRight;
  margin-bottom: $marginBottom;
}

@media screen and (max-width: 576px){
  main {
    margin-left: $marginLeftMobile;
    margin-top: $marginTopMobile;
    margin-right: $marginRightMobile;
    margin-bottom: $marginBottomMobile;
  }
}

/**/
$mediaTabletBreakPoint: 767px;
