@import '../colors.scss';
@import '../../shared/custom-formats.scss';

.button-format{
  @include button-format;
}

.edit{
  @extend .button-format;
  background-color: $edit;
}

.delete{
  @extend .button-format;
  background-color: $delete;
}

.new{
  @extend .button-format;
  background-color: $new;
}

.search{
  @extend .button-format;
  background-color: $navbar;
}

button:disabled{
  background-color: $disabled;
}
