.table-header{
  background-color: black;
  border-bottom: black solid 2px;
  line-height: 3rem;
    th, td {
      padding-left: 10px;
    }
}

.row-odd{
  @extend .table-header;
  background-color: #273766;
}

.row-even{
  @extend .table-header;
  background-color: #577BE5;
}

