<section>
  <div class="my-2">
    <app-custom-button [buttonClass]="'new'" [icon]="faPlus" (click)="createNewAuthor()"></app-custom-button>
  </div>
  <div *ngIf="authorsLoaded; else spinner;">
    <div class="d-flex align-items-center w-100">
      <app-page-size [take]="take" (pageSize)="pageSize($event)"></app-page-size>
      <app-pagination class="ms-3w-25" [totalEntries]="totalBooks" [take]="take" (selectedPage)="selectedPage($event)"></app-pagination>
    </div>
    <app-custom-table  [headerData]="headerData" [tableData]="authorList" [displayActionColumn]="true" [displayDelete]="false" (editEntry)="updateAuthor($event)"></app-custom-table>
  </div>
  <ng-template #spinner>
    <app-loading class="d-flex justify-content-center my-5" [spinner]="false"></app-loading>
  </ng-template>
</section>
