<section>
  <div class="my-2">
    <app-custom-button [buttonClass]="'new'" [icon]="faPlus" (click)="createNewAuthor()"></app-custom-button>
  </div>
  <div *ngIf="authorsLoaded; else spinner;">
    <app-page-and-search-holder [take]="take" [totalBooks]="totalAuthors" [placeHolder]="'Search author'" (pageSize)="pageSize($event)" (searchEvent)="searchEvent($event)" (selectedPage)="selectedPage($event)"></app-page-and-search-holder>
    <app-custom-table  [headerData]="headerData" [tableData]="authorList" [displayActionColumn]="true" [displayDelete]="false" (editEntry)="updateAuthor($event)"></app-custom-table>
  </div>
  <ng-template #spinner>
    <app-loading class="d-flex justify-content-center my-5" [spinner]="false"></app-loading>
  </ng-template>
</section>
