/* You can add global styles to this file, and also import other style files */
@import './app/shared/colors.scss';

html, body { height: 100%; }
body {
  background-color: $body;
  color: $text;
  margin: 0;
  font: {
    family: Arial, sans-serif;
    size:1.25rem;
  }

}
