/* You can add global styles to this file, and also import other style files */
@import './app/shared/colors.scss';

html, body { height: 100%; }
body {
  background-color: $body;
  color: $text;
  margin: 0;
  font: {
    family: Arial, sans-serif;
    size:1.25rem;
  }

}

.remove-dialog-padding .mat-dialog-container{
  padding: 0;
}

.snack-format{
  color: white;
  font-size: 18px;

  .mat-simple-snackbar {
    font-size: 18px;
  }
  .mat-simple-snackbar-action button{
    font-size: 18px;
    color: white;
  }
}

.snackSuccess{
  @extend .snack-format;
  background-color: $snackSuccess;
}

.snackError{
  @extend .snack-format;
  background-color: $snackError;
}
